@page "/todolist"

<h1>Todo List</h1>

<Addons>
    <Addon AddonType="AddonType.Body">
        <Column ColumnSize="ColumnSize.Is6">
            <TextEdit Placeholder="todo" @bind-Text="newTodo" />
        </Column>
        <Column ColumnSize="ColumnSize.Is3">
            <Check TValue="bool" @bind-Checked="@checkList">Já fiz</Check>
        </Column>
        <Column ColumnSize="ColumnSize.Is3">
            <Addon AddonType="AddonType.End">
                <Button Color="Color.Success" @onclick="AddTask">Adicionar</Button>
            </Addon>
        </Column>    
    </Addon>

    
</Addons>


<Table>
    <TableHeader ThemeContrast="ThemeContrast.Light"></TableHeader>
    <TableBody>
        @foreach (var item in listaTodo)
        {
            <TableRow>
                <TableRowCell>@item.Title </TableRowCell>    
                <TableRowCell><Check TValue="bool" Checked="@item.Done"></Check> </TableRowCell>    
            </TableRow>
        }
    </TableBody>
</Table>



@code{

    List<Todo2> listaTodo;
    public bool check { get; set; }
    public bool checkList { get; set; }
    public string newTodo { get; set; }

    private void AddTask()
    {
        listaTodo.Add(new Todo2() { Title = newTodo, Done = checkList });
    }


    protected override void OnInitialized()
    {

        listaTodo = new List<Todo2>(){

    new Todo2(){Title = "Passer com o cachorro", Done = false},
    new Todo2(){Title = "Comprar leite", Done=false},
    new Todo2(){Title = "Estudar programação", Done = true}
    };

    }

}